<main>
    {{>header}}
    <section>
        <div>
            <h2>Find your BookBuddy</h2>
            <p>Vind via bookbuddy jouw buddy om samen boeken te kunnen lezen, bespreken en raad elkaar boeken aan die je al hebt gelezen.</p>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        </div>
    </section>
</main>

<div class="random">
    <h3>Posted by {{data.people.0.name}}</h3>
    <p>Ine is {{post.age}} years old.</p>
    {{!-- Condition  --}}
    {{#if post.comments}}
    {{#each post.comments}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
    {{else}}
    <ul>
        <li>Be the first to comment on this post.</li>
    </ul>
    {{/if}}
</div>

<div>
    <ul>
        {{#each people}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<form action="/accountaangemaakt" method="POST" >
    Naam: <input type="text" name="user">
    Wachtwoord: <input type="password" name="password">
    <input type="submit" value="Signup">
</form>